<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alex - Portfólio</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <a href="#" class="logo">Alex</a>
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section id="hero">
        <div class="hero-content">
            <h1 id="titulo-digitando"></h1> <span class="cursor">|</span> <p>Desenvolvedor apaixonado por criar soluções inovadoras.</p>
        </div>
    </section>

    
    <section id="sobre"> 
        <h2>Sobre Mim</h2>
        <p>
            Sou Alex Donozor, profissional em transição de carreira para a área de tecnologia, atualmente cursando Análise e Desenvolvimento de Sistemas e com diversas certificações em ferramentas e metodologias, como Power BI, Estatística, Kanban, Segurança da Informação, LGPD, Modelagem de Dados e Python.
    
            Apaixonado por aprendizado contínuo, estou em busca de desafios que me permitam aplicar meus conhecimentos em desenvolvimento de software, análise de dados e soluções baseadas em nuvem, enquanto aprimoro minhas habilidades práticas e contribuo para projetos inovadores. No momento, estou desenvolvendo projetos em Python, incluindo sistemas CRUD e aplicativos web, além de buscar integração entre frontend e backend.
    
            Sempre comprometido com a melhoria constante, acredito que a tecnologia é uma poderosa ferramenta para transformar ideias em soluções que impactam positivamente as pessoas e empresas.
        </p>
    </section>
    

    <section id="projetos">
        <h2>Projetos</h2>
        <div class="projetos-container">
            <div class="projeto-card">
                <img src="placeholder.jpg" alt="Projeto 1">
                <h3>Projeto 1</h3>
                <p>Descrição breve do Projeto 1.</p>
                <a href="#" target="_blank">Ver Projeto</a>
            </div>
            <div class="projeto-card">
                <img src="/images/relogio.png" alt="Projeto 2">
                <h3>Relógio Digital</h3>
                <p>Descrição breve do Projeto 2</p>
                <a href="https://github.com/AlexpelDev/relogio_digital" target="_blank">Ver Projeto</a>
            </div>
            <div class="projeto-card">
                <img src="/images/calculadora.png" alt="Projeto 3">
                <h3>Calculadora Iphone</h3>
                <p>Uma implementação de uma calculadora inspirada na calculadora do iPhone.</p>
                <a href="https://github.com/AlexpelDev/Calculadora-Iphone" target="_blank">Ver Projeto</a>
            </div>
        </div>
    </section>
    <section id="contato">
        <h2 id="h2-contato">Contato</h2>
                <div class="contatos-container">
            <a href="https://github.com/AlexpelDev" class="botao-contato github">GitHub</a>
            <a href="https://www.linkedin.com/in/alex-donozor/" class="botao-contato linkedin">Linkedin</a>
            <a href="alexpelgr@gmail.com" class="botao-contato email">Email</a>
            <a href="https://wa.me/5521981452612?text=Ol%C3%A1%2C%20quero%20saber%20mais%20sobre%20os%20seus%20servi%C3%A7os." class="botao-contato whatsapp">Whatsapp</a>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Alexpel Dev</p>
    </footer>

    <script src="/script/script.js"></script>
</body>

</html>